<div class="container" *ngIf="flag==0" style="text-align: center">
<h1 style="color:white;font-size:30px">
    {{test.name}}   
    </h1>
    <h1 style="color:white;font-size:30px">
        total no of questions:{{test.questions.length}}   
        </h1>
    <button (click)="startTest()" class="btn btn-lg" style="background:#FBA100;width:30%;">StartTest</button>
</div>
<div class="container" *ngIf="flag==1">
    <div class="jumbotron" *ngFor="let x of test.questions;let i=index" 
        style="color:white;background:rgb(251, 161, 0,0.9)">  
        <h2>Q.{{i+1}} {{x.question}}</h2> 
        <mat-radio-group class="example-radio-group" [(ngModel)]="selected[i]">
            <mat-radio-button class="example-radio-button" [value]="'1'">
              {{x.option1}}
            </mat-radio-button>
            
            <mat-radio-button class="example-radio-button" [value]="'2'">
              {{x.option2}}
            </mat-radio-button>
            
            <mat-radio-button class="example-radio-button" [value]="'3'">
              {{x.option3}}
            </mat-radio-button>
            
            <mat-radio-button class="example-radio-button" [value]="'4'">
              {{x.option4}}
            </mat-radio-button>
            
          </mat-radio-group> 
          
      </div>
      <button (click)="submitTest()" class="btn btn-lg" style="background:#FBA100;width:30%;margin-left:35%;margin-bottom:50px">SubmitTest</button>
        
</div>

<div class="container" *ngIf="flag==2">
    <h1 style="Color:white;background:rgb(251, 161, 0,0.9)">Correct Answers:{{CorrectCount}} Out of {{total}}</h1>
    <div class="jumbotron" *ngFor="let x of test.questions;let i=index" 
    style="color:white;background:rgb(251, 161, 0,0.9)">  
    <h2>Q.{{i+1}} {{x.question}}</h2> 
    <mat-radio-group class="example-radio-group" [(ngModel)]="selected[i]">
        <mat-radio-button class="example-radio-button" [value]="option1" disabled="true">
          {{x.option1}}
        </mat-radio-button>
        
        <mat-radio-button class="example-radio-button" [value]="option2" disabled="true">
          {{x.option2}}
        </mat-radio-button>
        
        <mat-radio-button class="example-radio-button" [value]="option3" disabled="true">
          {{x.option3}}
        </mat-radio-button>
        
        <mat-radio-button class="example-radio-button" [value]="option4" disabled="true">
          {{x.option4}}
        </mat-radio-button>
        
      </mat-radio-group> 
     
          <div *ngIf="selected[i]==x.correct;else other"><h2>Correct Answer!</h2></div>
          <ng-template #other><h2>Wrong Answer!!</h2></ng-template>
    </div>
    <h1 style="Color:white;background:rgb(251, 161, 0,0.9)">Correct Answers:{{CorrectCount}} Out of {{total}}</h1>
</div>